.title {
  width: 18%;
  text-align: center;
  margin: 0 auto;
  margin-top: 6%;
  z-index: 2;
}

.title h3 {
    background-image: linear-gradient(to right top, #3c3834, #453d34, #4d4233, #544833, #5b4e32);
    padding: 12px;
    color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 11px -1px rgba(110,94,110,1);
}

.App {
    position: absolute;
    top: 111px;
    left: 0px;
    right: 0px;
    z-index: -1;
    display: flex;
    justify-content: center;
}

.App form {
    padding: 90px 52px;
    background-image: linear-gradient(to right top, #051937, #053456, #005174, #007090, #1390a9);
    border-radius: 5px;
    box-shadow: 0px 0px 11px -1px rgba(110,94,110,1);
}

.App form label {
    display: inline-block;
    margin-bottom: .5rem;
    letter-spacing: 0.5px;
    color: white;
    font-weight: 600;
    margin-top: 25px;
}

.App form input {
    display: block;
    width: 93%;
    height: 26px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.App form input[type=submit] {
    width: 100%;
    margin: 0 auto;
    margin-top: 44px;
    padding: 20px;
    line-height: 1px;
    cursor: pointer;
    color: white;
    border: 1px solid black;
    background-image: linear-gradient(to right top, #1f2122, #1f2527, #1e282c, #1c2c31, #1a3036);
}

.App form input[type=submit]:hover {
    background-image: linear-gradient(to right top, #34ac2b, #30ac2a, #2cab2a, #27ab29, #22aa29);
    color: white;
}


.App form .ValidationErr {
    width: 100%;
    margin-top: .40rem;
    font-size: 80%;
    color: #dc3545;
}
